@using CroBooks.Shared.Dto
@using CroBooks.Web.Enumeration
<h3>CompanyEditor</h3>

@code {
    [Parameter] public EditorMode editorMode { get; set; }
    [Parameter] public CompanyDto companyDto { get; set; } = new();
    [Parameter] public EventCallback<CompanyDto> OnSave { get; set; }

    private bool readOnly => editorMode == EditorMode.View;

    private async Task Save()
    {
        await OnSave.InvokeAsync(companyDto);
    }
}
 